@use 'vars' as *;
@use 'mixin' as *;
@use 'font' as *;

.component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 24px;
  background-color: $white;
  padding: 8px 20px;
  border: 2px solid;
  border-color: $grey-5;

  margin-bottom: 120px;

  .time {
    @include font-base(48px, 500, 56px, normal, $readex-pro);

    color: $grey-5;
  }

  .divider {
    height: 40px;
    border: 1px solid $grey-5;
  }

  .date {
    @include font-base(38px, 500, 56px, normal, $readex-pro);

    color: $grey-5;
  }
}
